$smokey-color: rgba(255, 255, 255, 0.861);
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

@mixin custom-button() {
  background: #da22ff;
  padding: 15px 30px;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 30px;
  outline: none;
  border: 1.5px solid #da22ff;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  &:hover {
    background: transparent;
  }
}

.register-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .register {
    width: 430px;
    padding: 20px 0px;
    background-color: #18122b;
    color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    > form {
      margin: auto;
      padding: 20px;
      width: 60%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      > input {
        padding: 15px 30px;
        background-color: transparent;
        border: 1.5px solid #9733ee;
        outline: none;
        font-size: 1.1rem;
        color: white;
        border-radius: 30px;
        font-family: "Quicksand", sans-serif;
      }
      > button {
        @include custom-button();
      }
      > p {
        text-align: center;
        span {
          font-weight: bold;
          color: #9733ee;
        }
      }
      > span {
        text-align: center;
        color: rgb(253, 48, 48);
      }
    }
  }
}

.login-page {
  @extend .register-page;
  .login {
    @extend .register;
  }
}

.avatar-page {
  .avatar-error {
    position: absolute;
    top: 0px;
    transform: translateY(-100px);
    transition: 0.3s ease-in-out;
    background-color: rgba(255, 0, 0, 0.09);
    border-radius: 30px;
    color: red;
    border: 1.5px solid red;
    padding: 10px 20px;
  }
  .avatar-success {
    @extend .avatar-error;
    border: 1.5px solid greenyellow;
    color: greenyellow;
    background-color: rgba(172, 255, 47, 0.098);
  }
  .show {
    transform: translateY(20px);
  }
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .avatar-container {
    width: 60%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 2rem;
    font-size: 1rem;

    h1 {
      font-weight: bold;
      font-size: 2.5em;
      color: $smokey-color;
    }

    ul {
      display: flex;
      list-style-type: none;
      justify-content: center;
      column-gap: 1rem;
      width: 100%;
      height: auto;

      .avatar-image {
        max-width: 120%;
        width: 7rem;
        border-radius: 50%;
        transition: all 0.3s;
        outline: none;
        &:hover {
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
      .selected {
        box-shadow: rgb(16, 190, 217) 0px 7px 20px;
      }
    }
    button {
      @include custom-button();
      padding: 10px 30px;
    }
  }
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 70%;
  }
  h2 {
    color: $smokey-color;
    letter-spacing: 2px;
  }
}
.chat-page {
  @extend .register-page;
  .chat-container {
    border-radius: 20px;
    width: 95%;
    min-height: 500px;
    height: auto;
    display: flex;
    background-color: #21193b;
    .chats-panel {
      width: 30%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #18122b;
      border-radius: 20px 0px 0px 20px;
      h1 {
        text-align: center;
        padding: 20px 0px;
        border-radius: 20px 0px 0px 0px;
      }
      .chats {
        padding: 20px;
        background-color: #18122b;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        overflow: auto;

        .chat {
          position: relative;
          z-index: 1;
          padding: 10px 10px;
          width: 90%;
          background-color: #2a2049;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 10px;
          transition: all 0.3s;
          transform: scale(1);
          img {
            width: 4rem;
          }

          &:hover {
            background-color: #403566;
            cursor: pointer;
            transform: scale(1.06);
          }
        }
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgb(76, 67, 107);
          border-radius: 30px;
        }
      }
      .admin-panel {
        border-radius: 0px 0px 0px 20px;
        background-color: #18122b;
        position: relative;
        display: flex;
        z-index: 3;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
        column-gap: 20px;
        img {
          width: 4rem;
        }
      }
    }
    .chat-box {
      color: white;
      width: 73%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .chat-head {
        background-color: #18122b;
        padding: 15px 20px;
        border-radius: 0px 20px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .user-details {
          display: flex;
          align-items: center;
          column-gap: 20px;
          img {
            width: 3.7rem;
          }
        }
        button {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 0px 15px;
          i {
            color: white;
            font-size: 1.7rem;
          }
        }
      }
      .conversation-box {
        width: 100%;
        height: 100%;
        .welcome {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            color: #9733ee;
          }
          img {
            width: 15rem;
          }
        }
      }

      .emojiPicker {
        position: absolute;
        top: 35%;
        z-index: 3;
      }

      .controls {
        padding: 15px 20px;
        display: grid;
        grid-template-columns: 10% 90%;

        form {
          display: flex;
          justify-content: space-around;
        }
        input {
          background-color: transparent;
          padding: 10px 25px;
          width: 80%;
          font-family: "Quicksand", sans-serif;
          font-size: 1.3rem;
          border-radius: 30px;
          border: 1.5px solid rgb(89, 76, 130);
          outline: none;
          color: white;
          transition: 0.2s all;

          &:focus {
            border: 1.5px solid rgb(130, 118, 170);
          }
        }
        button {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 0px 10px;
          i {
            color: white;
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}
