@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
::selection {
  background-color: #da22ff;
}
